@using Microsoft.AspNetCore.Identity
@using Ispit.Books.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if(SignInManager.IsSignedIn(User)) 
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="BookAdmin" asp-action="Index">Administration</a>
    </li>
}
